h1,h2,h3,h4,h5,h6,p,span{
    font-family: "Jost", Sans-serif;
    font-weight: 700;
    text-align: center;
    color: #FFF;
}

.switchBtnAudio {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 34px;
}
.switchBtnAudio input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #D76232;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 125px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #5CB990;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.slide.round {
    border-radius: 34px;
    text-transform: uppercase;
}
.slide.round:before {
    border-radius: 50%;
}